/* line 6, ../compass/sass/layout/_layout.scss */
html {
  color: #000;
}
/* line 8, ../compass/sass/layout/_layout.scss */
html .App {
  color: #000;
}
/* line 10, ../compass/sass/layout/_layout.scss */
html .App .App-body {
  color: #000;
  height: auto;
  width: 100vw;
  background-color: #eee;
}

/* line 8, ../compass/sass/layout/_header.scss */
.App-header {
  width: 100vw;
  float: left;
  display: flex;
  align-items: center;
  background-color: #222;
  height: 80px;
  padding: 10px;
  color: white;
}
/* line 17, ../compass/sass/layout/_header.scss */
.App-header .App-logo {
  height: 80px;
}
/* line 20, ../compass/sass/layout/_header.scss */
.App-header .search-area {
  margin: 10px;
}
/* line 22, ../compass/sass/layout/_header.scss */
.App-header .search-area .search-bar {
  height: 37px;
  width: 500px;
  margin: 0 4px;
  line-height: 40px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}
/* line 31, ../compass/sass/layout/_header.scss */
.App-header .search-area .categories-dropdown {
  height: 40px;
  line-height: 45px;
  font-size: 20px;
}
/* line 36, ../compass/sass/layout/_header.scss */
.App-header .search-area button.search-button {
  height: 40px;
  width: 90px;
  margin: 0px 5px;
  padding: 0px 10px;
  line-height: 35px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
}
/* line 46, ../compass/sass/layout/_header.scss */
.App-header .search-area button.search-button:hover, .App-header .search-area button.search-button:active {
  color: #fff;
  background-color: slategray;
}
/* line 52, ../compass/sass/layout/_header.scss */
.App-header .header-right {
  color: #fff;
  float: right;
  margin: auto;
}
/* line 56, ../compass/sass/layout/_header.scss */
.App-header .header-right a {
  color: #fff;
  text-decoration: none;
  word-spacing: 20px;
  margin: 0 10px;
}
/* line 61, ../compass/sass/layout/_header.scss */
.App-header .header-right a:hover, .App-header .header-right a:active {
  text-decoration: underline;
}

/* line 68, ../compass/sass/layout/_header.scss */
.App-header-lower {
  height: 30px;
  width: 100vw;
  background-color: #444;
  color: #fff;
  display: flex;
  align-items: center;
}
/* line 75, ../compass/sass/layout/_header.scss */
.App-header-lower a {
  color: #fff;
  margin: auto;
  text-decoration: none;
  padding: 3px 8px;
}
/* line 80, ../compass/sass/layout/_header.scss */
.App-header-lower a:hover, .App-header-lower a:active {
  background-color: #eee;
  border-radius: 5px;
  color: #000;
}

/* line 6, ../compass/sass/views/_home.scss */
.home-page {
  text-align: center;
  padding-top: 20px;
}
/* line 9, ../compass/sass/views/_home.scss */
.home-page .card-area {
  display: flex;
  align-items: space-between;
  background-color: transparent;
}
/* line 13, ../compass/sass/views/_home.scss */
.home-page .card-area .auction-card {
  width: 80vw;
  height: auto;
  margin: 30px auto;
  background-color: transparent;
}
/* line 18, ../compass/sass/views/_home.scss */
.home-page .card-area .auction-card .product-wrapper {
  margin: 20px 0;
  background-color: #fff;
  padding: 20px;
}

/* line 4, ../compass/sass/views/_auction.scss */
.auction-content {
  display: flex;
}
/* line 7, ../compass/sass/views/_auction.scss */
.auction-content .auction-img {
  margin: 0 auto;
  width: 35%;
}
/* line 10, ../compass/sass/views/_auction.scss */
.auction-content .auction-img img {
  width: 100%;
}
/* line 14, ../compass/sass/views/_auction.scss */
.auction-content .auction-details {
  margin: auto;
  width: 65%;
}
/* line 17, ../compass/sass/views/_auction.scss */
.auction-content .auction-details .description {
  width: auto;
  padding-left: 20px;
  text-align: left;
}
/* line 22, ../compass/sass/views/_auction.scss */
.auction-content .auction-details .price-info {
  width: 100%;
  display: flex;
  align-items: center;
}
/* line 26, ../compass/sass/views/_auction.scss */
.auction-content .auction-details .price-info .current-bid {
  margin: auto;
}
/* line 29, ../compass/sass/views/_auction.scss */
.auction-content .auction-details .price-info .starting-bid {
  margin: auto;
}
/* line 32, ../compass/sass/views/_auction.scss */
.auction-content .auction-details .price-info .buy-now {
  margin: auto;
}
